<!-- Form completion start -->
<form action="/create_completion_from_habit" method="post">
<!-- Form completion end -->

  <!-- Label and input for habit_id start -->
  <!-- Input for habit_id start -->
  <input type="hidden" name="habit_id" value="<%= @habit.id %>">
  <!-- Input for habit_id end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :created_at, @completion.user_id), :class => "form-control") %>
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create completion
  </button>
</form>
