<form action="/create_completion_from_habit" method="post">

  <input type="hidden" name="habit_id" value="<%= @habit.id %>">

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :created_at, @completion.user_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create completion
  </button>
</form>
