<h1>
  Edit habit #<%= @habit.id %>
</h1>

<hr>

<!-- Form habit start -->
<form action="/update_habit/<%= @habit.id %>" method="post">
<!-- Form habit end -->

  <!-- Label and input for habit_name start -->
  <div class="form-group">
    <label for="habit_name">
      Habit name
    </label>

    <!-- Input for habit_name start -->
    <input type="text" id="habit_name" name="habit_name" class="form-control" value="<%= @habit.habit_name %>">
    <!-- Input for habit_name end -->
  </div>
  <!-- Label and input for habit_name end -->

  <!-- Label and input for user_id start -->
  <!-- Label and input for user_id end -->

  <!-- Label and input for actively_tracking start -->
  <div class="form-check">
    <input type="hidden" value="0" name="actively_tracking">
    <!-- Input for actively_tracking start -->
    <input id="actively_tracking" class="form-check-input" name="actively_tracking" type="checkbox" value="1" <%= "checked" if @habit.actively_tracking %>>
    <!-- Input for actively_tracking end -->
    <label for="actively_tracking" class="form-check-label">
      Actively tracking
    </label>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update habit
  </button>
</form>

<hr>

<a href="/habits">
  Go back
</a>
