<h1>
  Edit completion #<%= @completion.id %>
</h1>

<hr>

<form action="/update_completion/<%= @completion.id %>" method="post">

  <div class="form-group">
    <label for="habit_id">
      Habit
    </label>

    <%= select_tag(:habit_id, options_from_collection_for_select(Habit.all, :id, :habit_name, @completion.habit_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :created_at, @completion.user_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update completion
  </button>
</form>

<hr>

<a href="/completions">
  Go back
</a>
